<aside id="sidebar" th:aside="aside">
	<!-- ========== Left Sidebar Start ========== -->
	<div class="leftside-menu">

		<!-- Brand Logo Light -->
		<a th:href="@{/}" class="logo logo-light">
			<span class="logo-lg">
				<img th:src="@{dist/saas/assets/images/logo-isp.png}" alt="logo">
			</span>
			<span class="logo-sm">
				<img th:src="@{dist/saas/assets/images/logo-isp.png}" alt="small logo">
			</span>
		</a>

		<!-- Brand Logo Dark -->
		<a th:href="@{/}" class="logo logo-dark">
			<span class="logo-lg">
				<img th:src="@{dist/saas/assets/images/logo-isp.png}" alt="dark logo">
			</span>
			<span class="logo-sm">
				<img th:src="@{dist/saas/assets/images/logo-dark-sm.png}" alt="small logo">
			</span>
		</a>

		<!-- Sidebar Hover Menu Toggle Button -->
		<div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
			<i class="ri-checkbox-blank-circle-line align-middle"></i>
		</div>

		<!-- Full Sidebar Menu Close Button -->
		<div class="button-close-fullsidebar">
			<i class="ri-close-fill align-middle"></i>
		</div>

		<!-- Sidebar -->
		<div class="h-100" id="leftside-menu-container" data-simplebar>
			<!-- Leftbar User -->
			<div class="leftbar-user">
				<a href="pages-profile.html">
					<img th:src="@{dist/saas/assets/images/users/avatar-1.jpg}" alt="user-image" height="42"
						class="rounded-circle shadow-sm">
					<span class="leftbar-user-name mt-2">Dominic Keller</span>
				</a>
			</div>

			<!--- Sidemenu -->
			<ul class="side-nav">

				<li class="side-nav-title">Navigation</li>

				<li class="side-nav-item">
					<a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false"
						aria-controls="sidebarDashboards" class="side-nav-link">
						<i class="uil-home-alt"></i>
						<span class="badge bg-success float-end">5</span>
						<span> Inicio </span>
					</a>
					<div class="collapse" id="sidebarDashboards">
						<ul class="side-nav-second-level">
							<li>
								<a href="dashboard-analytics.html">Analytics</a>
							</li>
							<li>
								<a href="index.html">Ecommerce</a>
							</li>
							<li>
								<a href="dashboard-projects.html">Projects</a>
							</li>
							<li>
								<a href="dashboard-crm.html">CRM</a>
							</li>
							<li>
								<a href="dashboard-wallet.html">E-Wallet</a>
							</li>
						</ul>
					</div>
				</li>

			</ul>
			<!--- End Sidemenu -->

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- ========== Left Sidebar End ========== -->
</aside>